@import '../../styles/base'

.qrdisplay
    @extend	.page
    justify-content: space-between  

    .qrcard
        text-align: center
        // min-width: 360px
        display: flex
        flex-direction: column
        justify-content: flex-start
        margin-bottom: 2em

        img
            width: 100%

    footer
        display: flex
        flex-direction: column
        align-self: flex-end
        width: 100%
        text-align: center