@import '../../styles/base'

.login
	@extend	.page

	img
		width: 259px
		margin: auto

	h2
		margin: 0

	.footerButtons
		button:first-of-type, a:first-of-type
			margin-top: 0

		p
			font-size: 15px
			color: #0C5DA5


