.login
	display: flex
	flex-direction: column

	.info
		display: flex
		flex-direction: column
		flex: 1
		justify-content: flex-end
		margin-bottom: 20px


	.buttons
		display: flex
		flex-direction: column
		align-self: flex-end
		width: 100%
		text-align: center
